<div class="background-container relative bg-cover bg-center min-h-screen flex items-center justify-center">
    <div class="max-w-4xl mx-auto bg-cream p-12 rounded-xl shadow-lg">
      <h2 class="text-4xl font-extrabold text-center text-teal-700 mb-8">Modifier mon profil</h2>
      <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
          <div>
            <label for="name" class="block text-lg font-semibold text-teal-800">Nom</label>
            <input id="name" type="text" formControlName="name"
                   class="mt-2 block w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-teal-500 focus:border-teal-500 transition duration-200 ease-in-out" />
            <div *ngIf="editProfileForm.get('name')?.invalid && editProfileForm.get('name')?.touched">
              <small class="text-red-500">Le nom est requis.</small>
            </div>
          </div>
          <div>
            <label for="email" class="block text-lg font-semibold text-teal-800">Email</label>
            <input id="email" type="email" formControlName="email"
                   class="mt-2 block w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-teal-500 focus:border-teal-500 transition duration-200 ease-in-out" />
            <div *ngIf="editProfileForm.get('email')?.invalid && editProfileForm.get('email')?.touched">
              <small class="text-red-500">Veuillez entrer une adresse email valide.</small>
            </div>
          </div>
        </div>
        <div class="mt-8">
          <label for="location" class="block text-lg font-semibold text-teal-800">Ville</label>
          <select id="location" formControlName="location" class="mt-2 block w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-teal-500 focus:border-teal-500 transition duration-200 ease-in-out">
            <option value="" disabled selected>Choisir une nouvelle ville</option>
            <option *ngFor="let city of cities" [value]="city.name">{{ city.name }} ({{ city.postal_code }})</option>
          </select>
          <div *ngIf="editProfileForm.get('location')?.invalid && editProfileForm.get('location')?.touched">
            <small class="text-red-500">La ville est requise.</small>
          </div>
        </div>
        <div class="mt-10">
          <button type="submit"
                  class="w-full bg-teal-700 text-white px-6 py-4 rounded-lg font-semibold hover:bg-teal-800 focus:outline-none focus:ring-2 focus:ring-teal-500 transition duration-300 ease-in-out"
                  [disabled]="editProfileForm.invalid">
            Mettre à jour
          </button>
        </div>
      </form>
    </div>
  </div>
  